.wrapper {
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-width: 100px;
  padding: 1rem 1.4rem;
  font-weight: 700;
  font-size: 1.6rem;
  background: var(--white);
  outline: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: 1.5px solid transparent;
  transition: all 0.2s ease-in-out;
  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  &.login {
    background: var(--purple-light);
    color: var(--white);
  }
  &.register {
    color: var(--purple-light);
    border: 0.1rem solid var(--purple-light);
  }
  &.forgetPassword {
    box-shadow: none;
    color: var(--purple-light);
    text-decoration: underline;
  }
  &.continue {
    color: var(--purple-light);
    border: 0.1rem solid var(--purple-light);
  }
  &.header {
    box-shadow: none;
    color: var(--grey);
  }
  &.navLink {
    height: 100%;
  }
  &.menuItem {
    display: flex;
    align-items: start;
    padding: 0;
    box-shadow: none;
    width: 100%;
    span {
      text-align: right;
      width: 100%;
    }
  }
  + .wrapper:not(.header) {
    margin-left: 1rem;
  }
}
.rounded {
  border-radius: 9999rem;
  &:hover {
    border-color: var(--purple-light);
    color: var(--white);
    background-color: var(--purple-dark);
  }
 
}
.fix{
  background-color: (--orange);
  box-shadow: none;
}
.Icon + .title,
.title + .Icon {
  margin-left: 8px;
}
.Icon {
  display: inline-block;
  width: 24px;
  text-align: center;
}

// small
.small {
  min-width: 8.8rem;
  padding: 4px 16px;
}
// large
.large {
  min-width: 14.8rem;
  padding: 14px 16px;
}
