.wrapper {
  .thu_chi{
    margin-left: 11rem;
    font-size: 2rem;
    .transaction_information {
    max-height: 23rem;
    overflow-y: scroll;
    .input{
      width: 95%;
    }
  }
  }
  .default_card{
   margin-left: 4rem;
  }
  .vitien{
    margin-left: 10rem;
  }
  
}
