.wrapper {
  overflow: hidden;
  &.logo {
    width: var(--header-image-size);
  }
  &.avatar {
    width: var(--header-image-size);
    height: var(--header-image-size);
  }
  &.rounded {
    border-radius: 9999rem;
  }
  &.avatar_profile {
    width: var(--profile-image-size);
    height: var(--profile-image-size);
  }
}
.w100 {
  width: 100%;
}
.w50 {
  width: 50%;
}
.minw30 {
  min-width: 30%;
}
.h100 {
  height: 100%;
}
.h50 {
  height: 50%;
}
.minh30 {
  min-height: 30%;
}
